
.CSSTransition {
    &--fade {
        &-enter {
            position: absolute;
            opacity: 1;
            z-index: 3;
        }
        &-enter-active {
            position: absolute;
            opacity: 1;
            z-index: 3;
        }

        &-exit {
            position: absolute;
            pointer-events: none;
            opacity: 1;
            z-index: 6;
        }

        &-exit-active {
            position: absolute;
            opacity: 0;
            transition: opacity 500ms;
            z-index: 6;
        }
    }
}

.CSSTransition {
    &--modal {
        &-enter {
            top: -50vh;
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            top: 20%;
            transition: all 200ms;
        }

        &-exit {
            position: absolute;
            opacity: 1;
            top: 20%;
        }

        &-exit-active {
            opacity: 0;
            top: -50vh;
            transition: all 200ms;
        }
    }
}

.transition-item {
    transition: opacity 800ms;

    &.transition-appear {
        opacity: 1;
      }
     
      &.transition-appear.transition-appear-active {
        opacity: 1;
      }
      &.transition-leave {
        opacity: 1;
      }
     
      &.transition-leave.transition-leave-active {
        opacity: 0;
      }
}


.transition-wrapper {
    position: relative;
    z-index: 5;
}

.transition-wrapper .transition-item {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}