.section-wraper {
    padding: 50px 0;
    overflow: hidden;

}

.color-primary {
    color: $color-primary !important;
}

.color-secondary {
    color: $color-secondary !important;
}

.border-light {
    border: 0.5px solid rgb(228, 228, 228) !important;
}

.img-70 {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.circle {
    border-radius: 50%;
}

.btn-transparent {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
}

.h-100 {
    height: 100% !important;
}

button {
    font-family: inherit;
}

.w-100 {
    width: 100% !important;
}

.text-center {
    text-align: center;
}

.font-weight-lighter {
    font-weight: lighter !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.container-interna {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 16px;
}

.citacao,
.markup blockquote {
    display: block;
    margin: 50px 0;
    font-style: italic;
    font-size: 18px;
    line-height: 1.4;
    border-left: 40px solid #831313;
    padding-left: 32px;
    font-weight: 500;
    color: #831313;
    letter-spacing: 0.7;

    @media screen and (max-width: $bp-LG){
        font-size: 16px;
        margin: 30px 0;
        line-height: 1.5;
        padding-left: 17px;
    }

    &.lg{
        line-height: 1.6;
        font-size: 20px;

        @media screen and (max-width: $bp-LG){
            font-size: 17px;
            margin: 30px 0;
            line-height: 1.5;
        }
    }
}

.page-interna {
    font-size: 19px;
    max-width: 100vw;
    overflow-x: hidden;

    b {
        color: #484848;
    }

    .markup {

        a{
            color: #831313 !important;
        }

        h3 {
            color: #831313;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: bold;
            @media screen and (max-width: $bp-LG) {
                font-size: 24px;
            }
        }

        h4 {
            color: #831313;
            font-size: 24px;
            margin-bottom: 20px;
            @media screen and (max-width: $bp-LG) {
                font-size: 21px;
            }
        }

        p {
            font-size: 18px;
            margin-bottom: 26px;
            line-height: 1.6;
            @media screen and (max-width: $bp-LG) {
                font-size: 16px;
                margin-bottom: 18px;
            }
        }
    }

    img {
        width: 100%;
    }

    figure {
        padding: 0;
        margin: 40px 0;
        @media screen and (max-width: $bp-MD) {
            margin: 10px 0;
        }

        img {
            object-fit: cover !important;
        }
    }

    figcaption, figcaption p {
        margin-top: 15px;
        font-weight: bold;
        font-size: 12px !important;
        color: #484848;

        &.arte {
            font-size: 17px !important;
            color: #484848;

            span {
                display: block;
                font-size: 13px !important;
                font-weight: 300;
            }
        }
    }
}

.img-brush {
    position: relative;
    width: 100%;

    img {
        width: 100%;
    }

    &.brush-line {
        @media screen and (max-width: $bp-MD) {
            &:after {
                display: none;
            }
        }
    }

    &.brush-blue {
        &:after {
            content: '';
            position: absolute;
            left: -17%;
            top: -36%;
            background-image: url('../../images/shapes/brush-blue.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 155%;
            height: 155%;
            z-index: -1;
        }
    }

    &.brush-blue-spiral {
        &:after {
            content: '';
            position: absolute;
            left: -14%;
            bottom: -42%;
            background-image: url('../../images/shapes/brush-blue-spiral.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 108%;
            height: 108%;
            z-index: -1;

            @media screen and (max-width: $bp-MD){
                left: -27%;
            }
        }
    }

    &.brush-blue-3 {
        &:after {
            content: '';
            position: absolute;
            left: -30%;
            top: -26%;
            background-image: url('../../images/shapes/brush-blue-3.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 160%;
            height: 160%;
            z-index: -1;

            @media screen and (max-width: $bp-LG){
                width: 140%;
                height: 140%;
                top: -23%;
            }
        }
    }

    &.brush-orange {
        &:after {
            content: '';
            position: absolute;
            left: -31%;
            top: -17%;
            background-image: url('../../images/shapes/brush-orange.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 145%;
            height: 145%;
            z-index: -1;
        }
    }

    &.brush-yellow {
        &:after {
            content: '';
            position: absolute;
            left: 14%;
            top: -25%;
            background-image: url('../../images/shapes/brush-yellow.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 130%;
            height: 130%;
            z-index: -1;
        }
    }

    &.brush-line-top-left {
        &:after {
            content: '';
            position: absolute;
            left: -38px;
            top: -16px;
            background-image: url('../../images/shapes/line-top-left.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 50%;
            height: 50%;
            z-index: -1;
        }
    }

    &.brush-line-top-left-2 {
        &:after {
            content: '';
            position: absolute;
            left: -40px;
            top: -30px;
            background-image: url('../../images/shapes/line-top-left-2.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 120px;
            height: 120px;
            z-index: -1;
        }
    }

    &.brush-line-top-right-2 {
        &:after {
            content: '';
            position: absolute;
            right: -46px;
            top: -30px;
            background-image: url('../../images/shapes/line-top-right-2.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            z-index: -1;
        }
    }

    &.brush-line-bottom-right {
        &:after {
            content: '';
            position: absolute;
            right: -50px;
            bottom: -120px;
            background-image: url('../../images/shapes/line-bottom-right.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 220px;
            height: 220px;
            z-index: -1;
        }
    }

    &.brush-line-bottom-right-2 {
        &:after {
            content: '';
            position: absolute;
            right: -52px;
            bottom: -160px;
            background-image: url('../../images/shapes/line-bottom-right-2.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 240px;
            height: 240px;
            z-index: -1;
        }
    }

    &.brush-line-bottom-right-3 {
        &:after {
            content: '';
            position: absolute;
            right: -78px;
            bottom: -30px;
            background-image: url('../../images/shapes/line-bottom-right-3.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 200px;
            height: 200px;
            z-index: -1;
        }
    }

    &.brush-line-bottom-right-4 {
        &:after {
            content: '';
            position: absolute;
            right: -78px;
            bottom: -30px;
            background-image: url('../../images/shapes/line-bottom-right-4.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 200px;
            height: 200px;
            z-index: -1;
        }
    }

    &.brush-line-bottom-right-5 {
        &:after {
            content: '';
            position: absolute;
            right: -58px;
            bottom: -99px;
            background-image: url('../../images/shapes/line-bottom-right-5.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 370px;
            height: 370px;
            z-index: -1;
        }
    }

    &.brush-line-bottom-right-7 {
        &:after {
            content: '';
            position: absolute;
            right: -198px;
            bottom: -29px;
            background-image: url('../../images/shapes/line-bottom-right-7.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 320px;
            height: 320px;
            z-index: -1;
        }
    }

    &.brush-line-bottom-left {
        &:after {
            content: '';
            position: absolute;
            left: -88px;
            bottom: -30px;
            background-image: url('../../images/shapes/line-bottom-left.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 210px;
            height: 210px;
            z-index: -1;
        }
    }

    &.brush-line-bottom-left-2 {
        &:after {
            content: '';
            position: absolute;
            left: -40px;
            bottom: -68px;
            background-image: url('../../images/shapes/line-bottom-left-2.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 160px;
            height: 160px;
            z-index: -1;
        }
    }
}

.title-brush-red {
    position: relative;
    color: #fff;
    font-size: 27px;
    margin-bottom: 60px;

    @media screen and (max-width: $bp-MD) {
        font-size: 25px;
        margin-bottom: 40px;
        margin-left: 14px;
    }

    &:after {
        content: '';
        position: absolute;
        left: -12%;
        top: -150%;
        z-index: -1;
        background-image: url('../../images/shapes/brush-red.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 130%;
        height: 130px;
        @media screen and (max-width: $bp-MD) {
            width: 100%;
            height: 100px;
            top: -110%;
        }
    }
}

.container {
    @media screen and (min-width: $bp-XL) {
        max-width: 1050px;
    }
}

.container-large {
    @media screen and (min-width: $bp-XL) {
        max-width: 1270px !important;
    }

    @media screen and (max-width: 1380px){
        max-width: 1230px !important;
    }
}

.text-right {
    text-align: right;
}

.btn-outline-white {
    width: 100%;
    border: 1px solid #fff;
    padding: 4px 0 !important;
    background: transparent;
    color: #fff;
    transition: all 0.4s ease;
    text-transform: uppercase;
    font-size: 16px;
    &:hover {
        background-color: #fff;
        color: #2c2c2c;
    }
}

.text-lg-right {
    @media screen and (min-width: $bp-LG) {
        text-align: right !important;
    }
}

.hr-line {
    width: 100%;

    &.line-1 {
        height: 40px;
        background-image: url('../../images/shapes/line-1.svg');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 60px;
        margin-bottom: 60px;

        @media screen and (max-width: $bp-LG) {
            margin-top: 30px;
            margin-bottom: 30px;
            height: 15px;
        }
    }

    &.line-2 {
        height: 70px;
        background-image: url('../../images/shapes/line-2.svg');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 10px;
        margin-bottom: 60px;

        @media screen and (max-width: $bp-LG) {
            margin-bottom: 40px;
            height: 30px;
        }
    }

    &.line-3 {
        height: 70px;
        background-image: url('../../images/shapes/line-3.svg');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 50px;
        @media screen and (max-width: $bp-LG) {
            margin-bottom: 40px;
            height: 30px;
        }
    }
}
