@import 'assets/scss/variables/__all.scss';

.GaleriaModal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    z-index: 999;
    transition: all 0.4s;

    &[data-visible="true"]{
        opacity: 1;
        pointer-events: all;
    }

    &__content{
        width: 76%;
        margin: 0 auto;
        overflow: hidden;

        @media screen and (max-width: $bp-XL){
            width: 68%;
        }

        @media screen and (max-width: $bp-LG){
            width: 70%;
        }
    }

    .slick-arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        color: rgba(255, 255, 255, 0);
        background-size: contain;
        background-position: center center;
        background-color: #fff;
        width: 58px;
        height: 90px;

        @media screen and (max-width: $bp-XL){
            width: 64px;
            height: 100px;
        }

        @media screen and (max-width: $bp-MD){
            width: 31px;
            height: 45px;
        }

        &.slick-next{
            right: .8%;
            background-image: url('../../../../assets/images/ico/chevron-right.svg');

            @media screen and (max-width: $bp-MD){
                right: -.5%;
            }
        }
        
        &.slick-prev{
            left: -.8%;
            background-image: url('../../../../assets/images/ico/chevron-left.svg');
        }
    }

    .slick-track{
        display: flex;
    }

    &__item{
        width: 100%;
        height: 90vh;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &-img{
            width: auto;
            max-width: 100%;
            max-height: 50%;
            object-fit: contain;
            margin-top: 78px;

            @media screen and (max-width: $bp-XL){
                margin-top: 20px;
            }

            @media screen and (max-width: $bp-MD){
                width: 70%;
            }
        }

        &-desc{
            max-width: 600px;
            text-align: center;
            font-size: 18px;
            color: #484848;
        }

        &-line{
            height: 1px;
            width: 100%;
            background-color: rgba(228, 228, 228, 0.112);
            border-color: none;
            opacity: .4;
        }

        &-nome{
            color: #831313;
            font-size: 17px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 10px;
        }

        &-autor{
            color: #484848;
            font-size: 12px;
            text-align: center;
            font-weight: 300;
            margin-top: 0;
        }
    }

    &__close{
        position: absolute;
        top: 70px;
        right: 45px;
        color: $color-primary;
        background: none;
        border: none !important;
        width: 40px;
        height: 40px;
        background-image: url(../../../../assets/images/ico/close.png);
        background-position: center center;
        background-size: contain;
        z-index: 10;

        @media screen and (max-width: $bp-MD){
            top: 26px;
            right: 26px;
            width: 35px;
            height: 35px;
        }
    }
}