@import 'assets/scss/variables/__all.scss';

.Historia{
    .PageBanner__title{
        @media screen and (max-width: $bp-MD){
            font-size: 57px;
            margin-bottom: -18px;
        }
    }
}