//Import Variables //
@import './variables/__all';

//Import Components //
@import './components/__all';

//Import Mixins //
@import './mixins/__all';

// Import Utils //
@import  './util/__all';


body {
    position: relative;
    margin: 0;
    background-color: #F2F2F2;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
    font-size: 16px;
}

.page{
    min-height: 100vh;
}

main{
    visibility: visible;
    width: 100vw;
}