@import 'assets/scss/variables/__all.scss';

.Historia-h{

    .overlay-1{
        padding-bottom: 300px;
    }
    
    .galeria-1{
        margin-bottom: -300px;
        transform: translateY(-300px);
    }
}