@import 'assets/scss/variables/__all.scss';

.pagination {
    position: relative;
    display: flex;
    justify-content: center;
    color: #484848;

    @media screen and (min-width: $bp-LG){
        max-width: 650px;
        margin: 0 auto;
    }

    @media screen and (max-width: $bp-LG){
        margin-top: 40px;
    }
    
    @media screen and (max-width: $bp-MD){
            font-size: 16px;
    }
    .disabled {
        opacity: 1;
    }

    .first,
    .last {
        display: none;
    }

    .previous {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        color: rgba(255, 255, 255, 0);
        background-image: url(../../../../assets/images/ico/pagination.png);
        background-size: contain;
        background-position: center center;
        width: 36px;
        height: 15px;
        background-repeat: no-repeat;
    }

    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) scaleX(-1);
        right: 0px;
        color: rgba(255, 255, 255, 0);
        background-image: url(../../../../assets/images/ico/pagination.png);
        background-size: contain;
        background-position: center center;
        width: 36px;
        height: 15px;
        background-repeat: no-repeat;
    }

    li:not(.previous):not(.next){
        display: flex;
        justify-content: center;
        align-items: center;
        padding:  12px 15px;
        font-size: 14px;
        color: #484848;
        transition: all 0.4s;
        
        @media screen and (max-width: $bp-MD){
            padding: 8px 10px;
        }

        &:hover, &.selected{
            font-size: 18px !important;
            font-weight: bold !important;
            color: #9D8855 !important;
        }
    }

    a{
        text-decoration: none;

        &:focus, &:active{
            border: none;
            box-shadow: none;
            outline: none;
        }
    }
}