@import 'assets/scss/variables/__breakpoints.scss';

.Footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 0;
    width: 100%;
    background-color: #831313;
    color: #fff;

    &__brand{
        font-family: 'Geo Sans';
        margin: 0 0 15px 0;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 27px;
        letter-spacing: 0.3;
        color: #fff;

        @media screen and (max-width: $bp-MD){
            font-size: 24px;
        }
    }

    &__copy{
        font-size: 14px;
        margin: 0;

        @media screen and (max-width: $bp-MD){
            font-size: 12px;
        }
    }
}