@import 'assets/scss/variables/__all.scss';

.VideoPlayer {
    position: relative;
    width: 100%;
    cursor: pointer;

    &__img {
        position: relative;

        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: #fff;
            opacity: .3;
            transition: all 0.4s;
        }

        img {
            line-height: 0;
            width: 100%;
            margin: 0;
        }
    }

    &__play{
        position: absolute;
        bottom: 5px;
        left: 0;
        background-color: #9D8855;
        width: 120px;
        height: 120px;
        background-image: url(../../../assets/images/ico/btn-play.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;
        border: none;
        z-index: 4;

        @media screen and (max-width: $bp-MD){
            width: 90px;
            height: 90px;
        }
    }

    &:hover{
        .overlay{
            opacity: 0;
        }
    }
    &[data-size="sm"]{
        .VideoPlayer__play{
            width: 60px;
            border: 1px solid #ffffff69;
            height: 60px;
            bottom: 0;
        }

        .VideoPlayer__img {
            height: 170px;

            @media screen and (max-width: $bp-SM){
                height: 170px;
            }

            img{
                object-fit: cover;
                object-position: center center;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__caption{
        padding-top: 14px;
        padding-right: 30px;
        font-weight: lighter;
        max-width: 270px;

        .cap1{
            font-size: 17px;
            color: #9D8855;
            margin-bottom: 4px;
        }
        
        .cap2{
            font-size: 17px;
            color: #484848;
        }
    }
}
