@import 'assets/scss/variables/__all.scss';

.Paddock{
    .PageBanner__title{
        @media screen and (max-width: $bp-MD){
            font-size: 57px;
            margin-bottom: -18px;
        }
    }

    .legenda-1{
        position: absolute;
        top: 50px;
        right: -120px;
        max-width: 270px;
        text-align: left;

        @media screen and (max-width: $bp-LG){
            left: unset;
            left: 50%;
            bottom: -10px;
            text-align: center;
            top: unset;
            transform: translateX(-50%);
            padding: 15px;
            font-size: 14px;
            width: 280px;
        }
    }

    &__btn{
        font-size: 17px;
        text-transform: uppercase;
        color: #9D8855;
        padding: 10px 60px;
        border: 1px solid #9D8855;
        transition: all 0.5s;

        @media screen and (max-width: $bp-LG){
            padding: 10px 40px;
        }

        &:hover{
            background-color: #9D8855;
            color: #fff;
        }
    }
}