@import 'assets/scss/variables/__all.scss';
$transition: all 1.4s cubic-bezier(.81,.42,.33,1);

.Navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 123px;
    background-color: #0A221D;
    z-index: 11;
    
    @media screen and (max-width: $bp-LG) {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        height: 100vh;
        width: 100vw;
        z-index: unset;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            padding: 0 !important;
            margin: 0 !important;
            max-width: unset !important;
            height: 100%;
        }
    }

    .container {
        height: 100%;
        
        @media screen and (min-width: $bp-LG) {
            max-width: 1130px;
        }

        @media screen and (min-width: $bp-XL) {
            max-width: 1300px;
        }
    }

    &__left{
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
    }

    &__div{
        height: 100%;
        width: 1.6px;
        background-color: #fff;
        opacity: .6;
        margin: 0 25px;

        @media screen and (max-width: $bp-LG){
            display: none;
        }
    }

    &__caption{
        font-family: 'Lowan';
        color: rgba(255, 255, 255, 0.981);
        font-size: 30px;
        text-transform: uppercase;

        @media screen and (max-width: $bp-LG){
            margin-bottom: 20px;
        }

        @media screen and (max-width: 330px){
            margin-bottom: 0;
        }
    }

    &__toggler {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0A221D;
        width: 100vw;
        height: 100px;
        transition: $transition;
        
        @media screen and (max-width: $bp-LG) {
            z-index: 8;
            display: block;
        }

        &-home {
            position: absolute;
            margin-left: -12px;
            transition: opacity 0.3s;
            
            img{
                margin-top: 10px;
                width: 120px;
            }
        }

        &.toggled {
            position: fixed;
            background-color: #0A221D;
            width: 100vw;
            height: 100vh;

            .Navbar__content {
                opacity: 1;
                pointer-events: all;
            }
        
            .Navbar__toggler-home{
                pointer-events: none;
                opacity: 0;
            }
        }

        button {
            position: relative;
            left: 88%;
            top: 26px;
            background: none;
            border: none;
            transform: translateX(-240%);
            transition: $transition;

            &.ios{
                margin-left: 20px;
            }

            // Click overlay
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 40px;
                height: 40px;
            }

            div {
                position: absolute;
                height: 1px;
                width: 24px;
                background-color: rgba(255, 255, 255, 0.905);
                transition: $transition;

                &:nth-child(1) {
                    top: 1px;
                    transform: rotate(0);
                }
                &:nth-child(2) {
                    top: 9px;
                }
                &:nth-child(3) {
                    top: 18px;
                    transform: rotate(0);
                }
            }

            &.active {
                left: 50%;
                top: 3%;
                margin-left: 0px;

                @media screen and (max-width: 330px){
                    top: 2%;
                }

                div {
                    &:nth-child(1) {
                        transform: rotate(40deg) translateX(53%);
                    }
                    &:nth-child(3) {
                        transform: rotate(-40deg) translateX(53%);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &__brand {
        @media screen and (max-width: $bp-LG) {
            display: none;
        }

        img{
            width: 120px;
        }
    }

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        transition: $transition;

        @media screen and (max-width: $bp-LG) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            width: 100vw;
            opacity: 0;
            pointer-events: none;
            background-color: transparent;
            z-index: 5;

            &.toggled {
                opacity: 1;
                pointer-events: all;
                z-index: 12;
            }
        }
    }

    
    &__underline {
        position: absolute;
        top: 8%;
        left: 40%;
        width: 100px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.666);
        border: none;
        
        &[data-shouldTransition="true"] {
            transition: $transition;
        }
    }
    
    &__item {
        background-color: none;
        border: none;
        background: none;
        color: #9D8855;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-family: 'Lowan';
        font-weight: lighter;
        padding: 4px 21px;
        transition: all 0.4s;
        white-space: nowrap;
        
        @media screen and (max-width: $bp-LG) {
            font-weight: 400;
            letter-spacing: -0.5px;
            padding: 20px 0;
            width: 100%;
            text-align: center;
            max-width: 230px;
            margin: 0 auto;
        }
        
        &.active, &:hover {
            color: #fff;
            font-weight: bold;
        }

        &:not(:nth-last-child(2)) {
            border-right: .6px solid rgba(255, 255, 255, 0.582);
            
            @media screen and (max-width: $bp-LG) {
                border-right: none;
                border-bottom: .6px solid rgba(255, 255, 255, 0.582);
            }
            
        }
    }
    
    &__links {
        display: flex;
        @media screen and (max-width: $bp-LG) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 12;
            padding: 0 50px;
        }
    }
    
    
    &__button{
        font-size: 14px;
        border: .2px solid rgba(255, 255, 255, 0.493);
        color: #fff !important;
        padding: 7px 15px;
        text-transform: uppercase;
        margin-left: 20px;
        transition: all 0.4s;
        white-space: nowrap;
        
        &:hover{
            background-color: #fff;
            color: #0A221D !important;
        }

        @media screen and (max-width: 1250px){
            margin-left: 0;
        }

        @media screen and (max-width: $bp-MD){
            margin-top: 6px;
        }
    }
}

@media screen and (max-width: 350px){
   .Navbar__content.toggled{
       margin-bottom: -30px !important;
   }
}