@import 'assets/scss/variables/__all.scss';
$transition: all 1.4s cubic-bezier(.81,.42,.33,1);

.Navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 110px;
    background-color: #831313c0;
    z-index: 11;
    @media screen and (max-width: $bp-LG) {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        height: 100vh;
        width: 100vw;
        z-index: unset;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            padding: 0 !important;
            margin: 0 !important;
            max-width: unset !important;
            height: 100%;
        }
    }

    .container {
        height: 100%;
        @media screen and (min-width: $bp-XL) {
            max-width: 1300px;
        }
    }

    &__toggler {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #831313ab;
        width: 125px;
        height: 80px;
        transition: $transition;
        
        @media screen and (max-width: $bp-LG) {
            z-index: 8;
            display: block;
        }

        &-home {
            display: block;
            position: absolute;
            left: 140px;
            top: 16px;
            z-index: 4;
            color: #fff;
            font-family: 'Geo Sans';
            font-size: 24px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: bold;
            z-index: -2;
            transition: all 1s;
            transition-delay: .5s;

            span {
                display: block;
                margin-left: 5px;
            }
        }

        &.toggled {
            position: fixed;
            background-color: #831313;
            width: 100vw;
            height: 100vh;

            .Navbar__content {
                opacity: 1;
                pointer-events: all;
            }
        
            .Navbar__toggler-home{
                opacity: 0;
                transition-delay: 0s;
            }
        }

        button {
            position: relative;
            left: 74px;
            top: 16px;
            background: none;
            border: none;
            transform: translateX(-240%);
            transition: $transition;

            &.ios{
                margin-left: 20px;
            }

            // Click overlay
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 40px;
                height: 40px;
            }

            div {
                position: absolute;
                height: 1px;
                width: 24px;
                background-color: rgba(255, 255, 255, 0.905);
                transition: $transition;
                &:nth-child(1) {
                    top: 1px;
                    transform: rotate(0);
                }
                &:nth-child(2) {
                    top: 11px;
                }
                &:nth-child(3) {
                    top: 21px;
                    transform: rotate(0);
                }
            }

            &.active {
                left: 50%;
                top: 6%;

                div {
                    &:nth-child(1) {
                        transform: rotate(40deg) translateX(62%);
                    }
                    &:nth-child(3) {
                        transform: rotate(-40deg) translateX(62%);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &__brand {
        @media screen and (max-width: $bp-LG) {
            display: none;
        }

        a {
            font-family: 'Geo Sans';
            color: #fff;
            text-transform: uppercase;
            font-size: 26px;
        }
    }

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        transition: $transition;
        @media screen and (max-width: $bp-LG) {
            justify-content: center;
            height: auto;
            width: 100vw;
            opacity: 0;
            pointer-events: none;
            background-color: transparent;
            z-index: 5;

            &.toggled {
                opacity: 1;
                pointer-events: all;
                z-index: 12;
            }
        }

    }

    &__underline {
        position: absolute;
        top: 8%;
        left: 40%;
        width: 100px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.666);
        border: none;

        &[data-shouldTransition="true"] {
            transition: $transition;
        }
    }

    &__item {
        background-color: none;
        border: none;
        background: none;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.5px;
        @media screen and (max-width: $bp-LG) {
            margin: 25px 0 !important;
            font-weight: 400;
            letter-spacing: -0.5px;
        }

        &.active {
            font-weight: bold;
        }
        &:not(:last-child) {
            margin-right: 35px;
        }
    }

    &__links {
        @media screen and (max-width: $bp-LG) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 12;
        }
    }
}
